configure terminal
{% for interface in interfaces %} 
    interface {{ interface.name}}
        description {{interface.description}}
        ip address {{interface.ip}} {{interface.mask}}
        {% if "TRUE" == interface.is_sub_int  %} 
            encapsulation dot1q {{interface.vlan_id}}
        {% endif %}
        no shut 
        exit
{% endfor %}